from jinja2 import Environment, PackageLoader
from base_conf_template.create_clos import create_clos_connect_list, create_hw_eps_connect_list
from base_conf_template.generate_tasks import generate_custom_tasks, generate_big_custom_tasks

if __name__ == '__main__':
    NIC_num = 1024
    leaf_switch_num = 256
    leaf_switch_port_num = 16
    downlinks = 8
    spine_switch_num = 64
    spine_switch_port_num = 16
    NIC_num_in_a_server = 32


    joint_scheduler = '{{ joint_scheduler }}'

    # [(arriving_time, model_size at every NIC, task_occupied_NIC_num), ...]
    # task_list = generate_custom_tasks(100, exponential_beta = 0.00003, fixed_model_size = {{ fixed_model_size }})
    task_list = generate_big_custom_tasks(20, exponential_beta = 0.00003, fixed_model_size = {{ fixed_model_size }})

    connect_info_list = {{ connect_info_list }}
    connect_info_str = str(connect_info_list)

    env = Environment(loader = PackageLoader('base_conf_template', './'))
    template = env.get_template('base_ini_template.j2')
    content = template.render(
        connect_info_str = connect_info_str,
        topo_type = 'clos',
        find_path_method = '{{ find_path_method }}',
        joint_scheduler = joint_scheduler,
        measure_sampling_interval = 10,

        downlinks = downlinks,

        find_next_hop_method = '{{ find_next_hop_method }}',
        
        waiting_task_order_mode = 'FIFO',
        # waiting_task_order_mode = 'few_GPU_first',
        # waiting_task_order_mode = 'small_task_first',

        NIC_num = NIC_num,
        NIC_num_in_a_server = NIC_num_in_a_server,

        leaf_switch_num = leaf_switch_num,

        leaf_switch_port_num = leaf_switch_port_num,
        spine_switch_port_num = spine_switch_port_num,

        spine_switch_num = spine_switch_num,

        inner_server_bandwidth = {{ inner_server_bandwidth }},
        switch_port_bandwidth = {{ switch_port_bandwidth }},

        computation_time = 0,

        # task_type = 'compare_with_netbench',
        task_type = joint_scheduler,
        task_list = task_list,
        task_iteration_num = 1,

        # core_run_type = 'time_tick_based',
        # time_tick = 100,  # Unit: ns
        reconfiguration = '{{ reconfiguration }}',

        network_transmission_delay = {{ network_transmission_delay }},
        inserver_transmission_delay = {{ inserver_transmission_delay }},

        non_overlap_ratio = {{ non_overlap_ratio }},
    )
    with open('exp.ini', 'w') as f:
        f.write(content)
